#RedBar {
  background: #c62328;
  color: white;
  text-align: center; }
  #RedBar .sfContentBlock {
    padding: 15px; }
    #RedBar .sfContentBlock a {
      color: white; }

#BlueBar .notification#StickyBar {
  background-color: #1BAAE4;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 100;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  z-index: 11 !important;
  width: 100%; }

body {
  font-size: 16px;
  font-family: ars-maquette-web, sans-serif;
  color: #58595b; }

a {
  color: #0065e3;
  font-size: 14px; }

li p {
  font-weight: 200;
  letter-spacing: 0.5px; }

img, svg, video, audio {
  max-width: 100%; }

u h1 {
  color: #000000; }

button {
  border: none;
  text-align: center; }

textarea {
  overflow: auto;
  font: inherit;
  margin: 0;
  resize: none; }

input[type="text"] {
  color: #333;
  border: 1px solid #e5e5ea;
  border-radius: 3px;
  padding: 12px 8px; }

select {
  color: #333;
  box-shadow: none;
  padding: 12px 26px 12px 10px;
  width: 100%;
  border: none;
  background-color: transparent;
  background-image: none; }

footer {
  background-color: #e5e5ea;
  bottom: 0;
  height: auto;
  padding-bottom: 40px; }

.h1_1 {
  font-family: ars-maquette-web, sans-serif;
  font-weight: 400;
  font-size: 45px; }

.h1_2 {
  font-family: ars-maquette-web, sans-serif;
  font-weight: 400;
  font-size: 52px; }

.h1_3 {
  font-family: Conduit Light, sans-serif;
  font-weight: 500;
  font-size: 60px; }

.h2_1 {
  font-family: ars-maquette-web, sans-serif;
  font-size: 32px; }

.h2_2 {
  font-family: ars-maquette-web, sans-serif;
  font-size: 20px;
  font-weight: 200; }

.h2_3 {
  font-family: ars-maquette-web, sans-serif;
  font-size: 16px;
  font-weight: 700; }

.h2_4 {
  font-family: ars-maquette-web, sans-serif;
  font-size: 48px;
  font-weight: 300; }

.h2_5 {
  font-family: ars-maquette-web, sans-serif;
  font-size: 32px;
  font-weight: 300; }

.h3_1 {
  font-family: ars-maquette-web, sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase; }

.h3_2 {
  font-family: ars-maquette-web, sans-serif;
  font-size: 16px;
  font-weight: 200; }

.h3_3 {
  font-family: ars-maquette-web, sans-serif;
  font-size: 14px;
  font-weight: 200; }

.h3_4 {
  font-family: ars-maquette-web, sans-serif;
  font-size: 18.72px;
  font-weight: 300; }

.h3_5 {
  font-family: ars-maquette-web, sans-serif;
  font-size: 18.72px; }

.h4_1 {
  font-family: ars-maquette-web, sans-serif; }

.h5_1 {
  font-family: ars-maquette-web, sans-serif; }

.h5_2 {
  font-family: ars-maquette-web, sans-serif;
  font-weight: 700;
  font-size: 13px; }

.h6_1 {
  font-family: ars-maquette-web, sans-serif; }

.p_1 {
  font-family: unset;
  font-weight: 200;
  font-size: 14px; }

.p_2 {
  font-family: ars-maquette-web, sans-serif;
  font-weight: 100;
  font-size: 10px; }

.p_3 {
  font-family: ars-maquette-web, sans-serif;
  font-weight: 200;
  font-size: 14px; }

.p_3 {
  font-family: ars-maquette-web, sans-serif;
  font-weight: 200;
  font-size: 0.9em; }

.p_4 {
  font-family: ars-maquette-web, sans-serif;
  font-weight: 200; }

.alert {
  border: 1px solid red;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 8px 35px 8px 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }

.alert-warning {
  background-color: #ffffff;
  border-color: #fff215;
  color: #58595b; }

.alert-error {
  background-color: #ffffff;
  border-color: #c62328;
  color: #c62328; }

.alert-success {
  background-color: #ffffff;
  border-color: #e5e5ea;
  color: #10ace3; }

.alert-info {
  background-color: #ffffff;
  border-color: #10ace3;
  color: #0065e3; }

.btn--primary {
  background: #c62328;
  color: #ffffff !important;
  font-weight: 400;
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  text-transform: lowercase;
  font-family: nunito sans, sans-serif;
  font-size: 1rem;
  transition: all ease-in 300ms;
  border: 0;
  -webkit-appearance: button;
  cursor: pointer; }

.btn-transparent {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  flex: 0 0 180px;
  height: 48px;
  box-sizing: border-box;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .9em;
  border-radius: 3px;
  cursor: pointer; }

.o-button_blue-outline {
  background-color: #ffffff;
  border-radius: 3px;
  color: #0065e3;
  font-size: 14px;
  height: 45px;
  max-width: 225px;
  width: 140px;
  border: 1px solid #0065e3; }

.hero #singlePriceTwoButtons {
  margin-bottom: 10px;
  font-weight: bold !important;
  width: 225px !important; }

.hero__button-secondary {
  color: #ffffff !important;
  background-color: #0065e3 !important; }

.hero__button-primary {
  color: #000000 !important;
  background-color: #ffc40c !important; }

.hero-button-wrapper {
  font-size: 14px;
  margin-right: 10px;
  display: flex;
  width: 100%; }
  @media only screen and (max-width: 600px) {
    .hero-button-wrapper {
      align-items: center;
      flex-direction: column;
      justify-content: center; } }

.internet-hero {
  min-width: 200px; }

.o-button_blue {
  background-color: #0065e3;
  color: #ffffff;
  font-weight: 600;
  font-size: 15px;
  border-radius: 3px;
  height: 45px;
  max-width: 225px;
  margin-right: 10px; }
  @media only screen and (max-width: 600px) {
    .o-button_blue {
      margin-top: 10px;
      text-align: center; } }

.o-button_transparent {
  background-color: transparent;
  border-radius: 3px;
  color: #ffffff;
  font-size: 14px;
  height: 45px;
  max-width: 225px;
  width: 140px;
  border: 1px solid #ffffff !important; }

.c-wifi-cta button {
  width: 239px; }

.hero__button {
  font-size: 14px;
  font-weight: 600;
  max-width: 225px;
  height: 48px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 3px;
  justify-content: center;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 30px; }
  .hero__button :first-of-type {
    margin-right: 10px; }
  @media only screen and (max-width: 600px) {
    .hero__button {
      margin-bottom: 12px; } }

.req {
  color: #c62328; }

.error-message {
  color: #c62328; }

input[type="text"] {
  color: #333;
  border: 1px solid #e5e5ea;
  border-radius: 3px;
  padding: 12px 8px; }

textarea {
  overflow: auto;
  font: inherit;
  margin: 0;
  resize: none; }

.form-group {
  color: #58595b;
  border: 0; }

.form-row {
  border-bottom: 1px solid #58595b;
  margin-bottom: 10px; }

.form-group input[type="text"] {
  padding: 5px 0;
  box-sizing: border-box;
  border: 0;
  border-radius: 0;
  width: 100%;
  margin-bottom: 0;
  line-height: normal;
  font: inherit; }

.form-group textarea {
  color: #e5e5ea;
  border: 0;
  border-radius: 0;
  width: 100%;
  padding: 0;
  padding-left: 0px;
  box-sizing: border-box;
  min-height: 100px; }

.address-group {
  width: 100%;
  overflow: auto;
  display: table; }

.ag-city {
  width: 50%;
  border-right: 1px solid #e5e5ea; }

.address-group div {
  display: table-cell; }

.ag-state {
  width: 25%;
  border-right: 1px solid #e5e5ea;
  padding: 5px; }

.form-group label {
  display: block;
  font-family: nunito sans,sans-serif;
  text-transform: uppercase;
  font-size: 12px; }

.form-row select {
  border-bottom: 0; }

.form-group select {
  box-sizing: border-box;
  padding: 5px 0;
  color: #58595b;
  border: 0;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-radius: 0;
  width: 100%; }

select {
  color: #000000;
  box-shadow: none;
  padding: 12px 26px 12px 10px;
  width: 100%;
  border: none;
  box-shadow: none;
  background-color: transparent;
  background-image: none; }

.select-wrapper {
  position: relative;
  max-width: 240px;
  width: 100%;
  border: 1px solid #e5e5ea;
  border-radius: 3px;
  margin-bottom: 5px;
  overflow: hidden; }

.inquiry-row {
  width: 50%; }

.inquiry-type-select {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px,5px 5px,1px 1.5em;
  background-repeat: no-repeat; }

.comment-row textarea {
  padding-left: 0; }

.button-select select {
  position: relative;
  background-color: #0065e3;
  height: 36px;
  min-width: 154px;
  line-height: 36px;
  text-align: left;
  font-weight: 700;
  font-size: .85rem;
  color: #ffffff;
  border-radius: 4px;
  padding: 0 48px 0 18px;
  cursor: pointer;
  border: none; }

.button-select select::after {
  content: '';
  background-image: url(/assets/img/chevron-white.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 14px;
  margin: auto;
  transition: transform .15s ease-out; }

.video.active {
  align-items: center;
  display: flex;
  justify-content: center; }

.video {
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  height: 100vh;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 4; }

.modal-overlay {
  display: none; }
  .modal-overlay .active {
    background-color: rgba(0, 0, 0, 0.8);
    display: block;
    height: 100%;
    left: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001; }

.modalhome {
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.16), 0 1px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  padding: 20px;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 375px;
  z-index: 4; }
  .modalhome span {
    display: block; }

.modal-close {
  width: auto !important;
  margin-right: 0;
  margin-left: auto; }

.disableClose {
  display: none; }

.modal-body {
  margin-top: 24px;
  width: 100%; }
  .modal-body .modal-content {
    font-size: 14px;
    font-weight: 200;
    margin-bottom: 5px; }
  .modal-body .title {
    font-size: 32px;
    font-weight: 600; }

.modal-content {
  margin-bottom: 20px;
  text-align: center;
  width: 100%; }

.modal-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 55%; }
  @media only screen and (max-width: 600px) {
    .modal-grid {
      width: 80%; } }

.vert {
  margin-bottom: 1.5em; }

.vert .simply-scroll-clip {
  max-width: 602px; }

.simply-scroll-clip {
  position: relative;
  overflow: hidden; }

.simply-scroll-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none; }

.feed h5 {
  font-size: 13px;
  margin: 0 0 5px 0;
  color: #58595b;
  font-family: nunito sans, sans-serif;
  font-weight: 700; }

.simply-scroll-list li {
  padding: 0;
  margin: 0;
  list-style: none; }

.vert .simply-scroll-list li {
  width: 602px;
  height: 95px; }

.link-menu {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.28);
  display: none;
  flex-direction: column;
  left: -15px;
  max-width: 220px;
  min-width: 120px;
  padding: 10px 15px;
  position: absolute;
  top: 35px;
  transition: 150ms ease-in-out;
  z-index: 3;
  width: 100%; }

.link-menu a {
  background-color: #ffffff;
  color: #000000;
  display: block;
  font-size: 14px;
  margin: 0;
  padding: 10px 0;
  text-decoration: none;
  max-width: fit-content;
  max-width: -moz-fit-content; }

.c-hero {
  height: 500px;
  display: table;
  width: 100%;
  font-family: ars-maquette-web, sans-serif;
  color: #000000; }
  .c-hero .c-hero__wrapper {
    display: table-cell;
    font-family: ars-maquette-web, sans-serif;
    font-size: 34px;
    padding-left: 14%;
    position: relative;
    vertical-align: middle; }
  .c-hero .c-hero__title {
    color: #000000;
    font-family: ars-maquette-web, sans-serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 12px;
    margin-top: .9em;
    text-shadow: none;
    display: block; }
  .c-hero .c-hero__subtitle {
    color: black;
    font-family: ars-maquette-web, sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 21px;
    margin-top: .5em;
    text-shadow: none; }
  .c-hero .c-hero__card-group {
    align-items: center;
    display: flex;
    font-family: ars-maquette-web, sans-serif;
    font-size: 34px;
    justify-content: space-between;
    width: 475px; }
  .c-hero .c-hero__card {
    font-family: ars-maquette-web, sans-serif;
    font-size: 34px;
    margin-bottom: 21px;
    max-width: 510px;
    width: 237px; }
  .c-hero .c-hero__card__label {
    color: black;
    display: block;
    font-family: ars-maquette-web, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-shadow: none;
    text-transform: uppercase; }
  .c-hero .c-hero__card__main {
    align-items: flex-start;
    display: flex;
    font-family: ars-maquette-web, sans-serif;
    font-size: 34px;
    padding-top: 16px;
    position: relative; }
  .c-hero .c-hero__card__price {
    color: #10ace3;
    display: block;
    font-family: "Conduit Light", sans-serif;
    font-size: 111px;
    font-weight: 400;
    text-shadow: none; }
  .c-hero .c-hero__card__details {
    color: #58595b;
    font-family: ars-maquette-web, sans-serif;
    font-size: 34px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 22px; }
    .c-hero .c-hero__card__details .c-hero__card__cents {
      color: #10ace3;
      display: block;
      font-family: ars-maquette-web, sans-serif;
      font-size: 24px;
      font-weight: 400;
      text-align: left;
      text-shadow: none; }
    .c-hero .c-hero__card__details .c-hero__card__month {
      color: #10ace3;
      display: flex;
      font-family: "Conduit Light", sans-serif;
      font-size: 20.4px;
      margin-bottom: 3px;
      text-shadow: none;
      text-transform: uppercase;
      white-space: nowrap; }
  .c-hero .c-hero__card__disclaimer {
    bottom: 20px;
    color: black;
    display: block;
    font-family: ars-maquette-web, sans-serif;
    font-size: 11px;
    font-weight: 200;
    letter-spacing: 0.6px;
    margin-left: 5px;
    min-width: 220px;
    text-shadow: none; }
  .c-hero .hero__button__wrapper {
    display: flex;
    width: 100%; }
    @media only screen and (max-width: 600px) {
      .c-hero .hero__button__wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center; } }

.type_singlePriceTwoButtons {
  background-image: url("https://via.placeholder.com/1717x500");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 500px;
  padding: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-position: 50% 50%;
  background-position-x: 50%;
  background-position-y: 50%; }
  .type_singlePriceTwoButtons .hero__button {
    font-weight: 600 !important;
    width: 225px !important; }

.whwf-hero {
  background-image: url("https://via.placeholder.com/2558x1282");
  background-position: 100% 100%;
  background-position-x: 100%;
  background-position-y: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: ars-maquette-web, sans-serif;
  min-height: 820px;
  position: relative;
  color: #ffffff; }
  .whwf-hero ::after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
  @media only screen and (max-width: 1280px) {
    .whwf-hero {
      min-height: 820px; } }
  .whwf-hero h1, .whwf-hero h2 {
    font-size: 32px; }
  .whwf-hero p {
    font-size: 13px;
    font-weight: 200;
    letter-spacing: 0.5px;
    margin-top: 10px;
    max-width: 80%; }

.whwf-hero__content {
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  padding: 80px 400px 80px 24px; }
  @media only screen and (max-width: 1280px) {
    .whwf-hero__content {
      padding: 64px 320px 48px 24px; } }
  @media only screen and (max-width: 800px) {
    .whwf-hero__content {
      padding: 48px 32px; } }
  @media only screen and (max-width: 600px) {
    .whwf-hero__content {
      padding: 48px 18px; } }

.whwf-hero__pricing {
  color: #ffffff;
  font-family: inherit; }
  @media only screen and (min-width: 824px) {
    .whwf-hero__pricing {
      display: flex;
      margin-top: 24px; } }

.whwf-hero__pricing-item {
  margin-top: 32px;
  position: relative; }
  .whwf-hero__pricing-item ::before :not(:first-child) {
    content: '+';
    position: absolute;
    font-size: 3.2em; }
  @media only screen and (min-width: 825px) {
    .whwf-hero__pricing-item ::before {
      top: 40px;
      left: -46px; } }
  @media only screen and (max-width: 824px) {
    .whwf-hero__pricing-item ::before {
      top: -70px; } }
  .whwf-hero__pricing-item .whwf-hero__pricing__title {
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    max-width: none;
    white-space: nowrap;
    letter-spacing: 0.5px; }
  .whwf-hero__pricing-item .whwf-hero__pricing__price {
    font-size: 53.6px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    max-width: 80%; }
  .whwf-hero__pricing-item .whwf-hero__pricing__details {
    display: block;
    font-size: 12px;
    text-transform: uppercase; }
  .whwf-hero__pricing-item .whwf-hero__pricing__details span {
    white-space: nowrap;
    display: block; }
  .whwf-hero__pricing-item ul {
    font-size: 11.2px;
    margin-bottom: 0px;
    margin-left: 18px;
    margin-right: 0px;
    margin-top: 12px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px; }
  .whwf-hero__pricing-item li {
    font-weight: 200;
    letter-spacing: 0.5px; }
  .whwf-hero__pricing-item ::after {
    box-sizing: border-box; }

.whwf-slice__pricing {
  display: flex;
  margin-top: 24px; }

.whwf-slice-pricing-buttons {
  display: flex;
  margin-top: 48px; }
  @media only screen and (max-width: 600px) {
    .whwf-slice-pricing-buttons {
      justify-content: space-between; } }
  .whwf-slice-pricing-buttons button {
    border: none;
    flex: 0 0 180px;
    height: 48px;
    box-sizing: border-box;
    padding: 0 30px;
    align-items: center;
    justify-content: center;
    font-size: .9em;
    border-radius: 3px;
    cursor: pointer; }
    @media only screen and (max-width: 600px) {
      .whwf-slice-pricing-buttons button {
        margin: 0;
        flex: 0 1;
        flex-basis: 0%;
        flex-basis: calc(50% - 6px);
        padding: 0 8px;
        font-size: .75em; } }

.wow-hero {
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  justify-content: center;
  padding-bottom: 52px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 52px; }
  @media only screen and (max-width: 1024px) {
    .wow-hero {
      padding: 52px 25px; } }

.wow-hero__content {
  width: 966px;
  text-align: center; }
  .wow-hero__content h2 {
    font-size: 42px;
    font-weight: 300;
    line-height: 50px;
    margin-top: 0; }
    @media only screen and (max-width: 800px) {
      .wow-hero__content h2 {
        font-size: 32px !important;
        line-height: 38px; } }
  .wow-hero__content p {
    font-weight: 200;
    letter-spacing: .5px;
    font-size: 14px;
    line-height: 21px; }

.location-modal {
  padding: 40px 30px;
  width: 425px; }
  .location-modal img {
    width: 70px; }
    .location-modal img :not(.modal-close) {
      width: 70px; }
  @media only screen and (max-width: 800px) {
    .location-modal {
      width: 80%; } }

.locations {
  display: flex;
  flex-direction: column; }

.location {
  align-items: flex-start;
  display: flex;
  flex-direction: column; }

.state {
  font-size: 14px;
  font-weight: 600;
  margin: 15px 0 5px; }

.city {
  color: #0065e3;
  font-size: 14px;
  font-weight: 100; }

.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  text-rendering: auto;
  line-height: 1;
  font-family: "Font Awesome 5 Free"; }

.fa-chevron-right::before {
  content: "\f054"; }

.fa-chevron-right::before {
  content: "\f054"; }

i.fas.fa-chevron-right.slick-arrow {
  left: -20px;
  padding-left: 10px;
  position: absolute;
  bottom: 114px;
  width: 50px;
  font-size: 42px;
  padding-top: calc(51vh - 21px);
  transform: rotate(180deg);
  top: 50%;
  z-index: 3; }

#OfferCards {
  margin-bottom: 100px;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
  justify-content: center;
  background-color: #e9e9e9;
  left: 0;
  right: 0;
  max-width: 100%;
  padding-bottom: 100px;
  padding-top: 40px; }
  #OfferCards .c-card-section {
    max-width: 1190px; }

.card-section {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  position: relative;
  justify-content: center; }

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }
  .slick-slider .slick-slider {
    margin-bottom: 30px; }

.wifi-selection-section {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 65px 100px;
  max-width: 1440px; }
  @media only screen and (max-width: 600px) {
    .wifi-selection-section {
      padding: 48px 25px; } }
  @media only screen and (max-width: 725px) {
    .wifi-selection-section {
      display: block; } }
  @media only screen and (max-width: 1030px) {
    .wifi-selection-section {
      padding: 50px 50px; } }

.wifi-selection-carousel {
  padding-bottom: 25px;
  position: relative;
  width: 50%; }
  @media only screen and (max-width: 725px) {
    .wifi-selection-carousel {
      width: 100%; } }
  @media only screen and (max-width: 930px) {
    .wifi-selection-carousel {
      margin-bottom: 15px; } }

.carousel-img {
  display: none; }
  .carousel-img .active {
    display: block; }
  .carousel-img img {
    width: 100%; }

.wifi-selection-carousel-indication {
  bottom: 0;
  display: flex;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 96px; }

.carousel-indication {
  border: 1px solid #bcbcbc;
  border-top-color: #bcbcbc;
  border-right-color: #bcbcbc;
  border-bottom-color: #bcbcbc;
  border-left-color: #bcbcbc;
  border-radius: 50%;
  height: 12px;
  margin: 0 9px;
  width: 12px; }
  .carousel-indication .active {
    border-color: #646464;
    background-color: #646464; }

.wifi-selection {
  background-color: #fff;
  margin: 18px 0 30px 0;
  max-width: 325px;
  border: 1px solid #e0e0e0;
  border-radius: 3px; }
  @media only screen and (max-width: 725px) {
    .wifi-selection {
      margin: 18px auto 30px auto;
      width: 100%; } }

.wifi-selection-row-content {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;
  padding: 6px 20px;
  box-sizing: border-box; }

.wifi-selection-row .wifi-pricing {
  display: flex;
  flex-direction: column;
  min-width: 112px; }
  .wifi-selection-row .wifi-pricing .price-label {
    color: #9b9b9b;
    font-size: 10px;
    font-weight: 200;
    text-transform: uppercase;
    white-space: nowrap; }
  .wifi-selection-row .wifi-pricing .price {
    font-size: 20px;
    font-weight: 200;
    white-space: nowrap; }
    @media only screen and (max-width: 600px) {
      .wifi-selection-row .wifi-pricing .price {
        font-size: 16px; } }

.wifi-price-separator {
  margin: 0 4px;
  display: block; }

.wifi-selection-content {
  display: flex;
  flex: 0 0 45%;
  flex-direction: column;
  min-width: 45%; }
  @media only screen and (max-width: 725px) {
    .wifi-selection-content {
      margin: 0 auto;
      max-width: 376px; } }

span {
  display: block; }

.wifi-selection-title {
  font-size: 20px;
  font-weight: 600; }

.wifi-selection-info {
  font-size: 14px;
  font-weight: 200;
  margin: 5px 0 0; }

.nav-primary {
  background-color: #ffffff;
  height: 30px;
  width: 100%; }

@media only screen and (max-width: 1024px) {
  .nav-primary {
    display: none; } }

.nav-primary__links__wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  max-width: 1440px; }

.nav-primary__links {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 50px;
  max-width: 550px;
  width: 100%; }

@media only screen and (max-width: 1024px) {
  .nav-primary__links {
    display: none;
    margin-right: 0;
    padding: 0 10px; } }

.nav-primary__link {
  color: #000000 !important;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none; }

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }

.nav-secondary {
  background-color: #ffc40c;
  width: 100%;
  align-items: center; }

.nav-secondary__banner {
  background-image: url("");
  background-color: #0065e3;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 10px; }
  @media only screen and (max-width: 800px) {
    .nav-secondary__banner {
      background-size: contain; } }

.nav-secondary__content {
  align-items: center;
  display: flex;
  height: 30px;
  max-width: 1440px;
  padding: 15px 0; }

.nav-secondary__content__logo {
  height: inherit;
  margin-left: 70px;
  margin-right: auto;
  padding-top: 10px; }
  @media only screen and (max-width: 950px) {
    .nav-secondary__content__logo {
      margin-left: 15px;
      margin-right: 20px; } }
  .nav-secondary__content__logo a {
    align-items: center;
    display: flex;
    height: 100%;
    width: 161px; }
    @media only screen and (max-width: 950px) {
      .nav-secondary__content__logo a {
        width: 85px; } }
  .nav-secondary__content__logo a img {
    width: 70%; }
    @media only screen and (max-width: 950px) {
      .nav-secondary__content__logo a img {
        width: 100%; } }

.nav-secondary__content__links {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-around;
  width: 50%; }
  @media only screen and (max-width: 1100px) {
    .nav-secondary__content__links {
      width: 60%; } }
  @media only screen and (max-width: 1000px) {
    .nav-secondary__content__links {
      width: 75%; } }
  @media only screen and (max-width: 950px) {
    .nav-secondary__content__links {
      width: 100%; } }

.nav-secondary__content__link {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 6px 0 5px 0;
  position: relative; }
  .nav-secondary__content__link .first {
    white-space: nowrap; }
  @media only screen and (max-width: 1024px) {
    .nav-secondary__content__link {
      display: none; } }
  .nav-secondary__content__link a {
    color: #0065e3;
    font-size: 14px; }
  .nav-secondary__content__link .top-link {
    border-bottom: 2px solid transparent;
    padding: 5px 3px 3px 3px; }
  .nav-secondary__content__link .default-cursor {
    cursor: default; }

.nav-secondary-link .top-link, .nav-secondary-link span {
  color: #1d1d1d;
  display: block;
  font-size: 14px;
  height: 100%;
  padding-left: 3px;
  padding-right: 3px;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 2; }

.nav-secondary__content__link__menu {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.28);
  display: none;
  flex-direction: column;
  left: -15px;
  max-width: 220px;
  min-width: 120px;
  padding: 10px 15px;
  position: absolute;
  top: 35px;
  transition: 150ms ease-in-out;
  z-index: 2;
  width: 100%; }

.nav-secondary__search {
  align-items: center;
  display: flex;
  height: 100%;
  margin-right: 40px;
  padding: 8px; }
  .nav-secondary__search ::before, .nav-secondary__search ::after {
    box-sizing: border-box; }
  @media only screen and (max-width: 1024px) {
    .nav-secondary__search {
      margin-right: 0; } }
  .nav-secondary__search img {
    height: 20px;
    margin-right: 10px;
    width: 20px; }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale; }

.mobile-menu {
  display: none !important; }
  @media only screen and (max-width: 1024px) {
    .mobile-menu {
      display: block !important;
      font-size: 32px !important;
      margin-left: 0;
      margin-right: 10px;
      padding: 8px; } }

.nav-secondary__mobile-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  position: absolute;
  top: 25px;
  width: calc(100% - 50px); }
  .nav-secondary__mobile-top span {
    display: block; }
    .nav-secondary__mobile-top span .close {
      font-size: 32px; }

.nav-secondary__mobile-link-group .active {
  background-color: #ffc40c;
  bottom: 0;
  display: block;
  overflow-y: scroll;
  padding-top: 75px;
  position: absolute;
  right: 0;
  top: -12px;
  width: 100%;
  z-index: 2; }

.nav-secondary__mobile-link {
  display: none;
  padding: 10px 25px;
  position: relative; }
  .nav-secondary__mobile-link a .top-link {
    border-bottom: 2px solid transparent;
    padding: 5px 3px 3px 3px; }
    .nav-secondary__mobile-link a .top-link i {
      font-size: 36px !important;
      vertical-align: middle;
      float: right; }

.nav-secondary__mobile-link__menu {
  padding: 10px 15px 0;
  transition: 150ms ease-in-out; }

.nav-secondary__mobile__primary-link-group {
  border-top: 1px solid rgba(242, 242, 242, 0.4);
  margin: 0 auto;
  padding: 10px;
  display: none;
  width: calc(95% - 20px); }

a .mobile-menu-link {
  color: #000000;
  display: block;
  margin: 0;
  padding: 10px 0;
  text-decoration: none;
  white-space: nowrap;
  width: 100%; }

.footer__container {
  max-width: 1440px; }

footer .row {
  align-items: center;
  display: flex;
  width: 100%; }
  @media only screen and (max-width: 900px) {
    footer .row {
      flex-direction: column;
      padding: 40px 20px 0; } }
  @media only screen and (max-width: 920px) {
    footer .row {
      display: block; } }
  @media only screen and (max-width: 600px) {
    footer .row {
      padding: 40px 35px 0 !important; } }
  @media only screen and (max-width: 1100px) and (min-width: 921px) {
    footer .row {
      display: block !important;
      padding: 40px 0px 0 !important; } }

.footer__links {
  display: flex;
  flex: 0 0 50%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 70px;
  padding-top: 40px; }

.footer__links-left {
  display: flex;
  flex: 0 0 30%;
  padding-left: 70px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 70px;
  padding-top: 40px;
  min-width: 33%; }
  @media only screen and (max-width: 900px) {
    .footer__links-left {
      flex: 0 0 100%;
      margin: 0 0 20px;
      padding-top: 0;
      width: calc(100% - 140px); } }
  @media only screen and (max-width: 900px) {
    .footer__links-left {
      flex: 0 0 75%;
      justify-content: space-between;
      margin: 0 0 20px;
      min-width: 75%;
      padding-left: 0; } }
  @media only screen and (max-width: 600px) {
    .footer__links-left {
      display: block;
      margin: 0;
      width: 100%; } }
  @media only screen and (max-width: 1170px) {
    .footer__links-left {
      flex: 0 0 25%;
      margin-right: 20px;
      min-width: 25%; } }

.footer__links-container {
  display: flex;
  flex-direction: column;
  padding: 0 5px; }
  @media only screen and (max-width: 475px) {
    .footer__links-container {
      width: 100%; } }
  @media only screen and (max-width: 900px) {
    .footer__links-container {
      margin-bottom: 20px; } }

.footer__links-container-group {
  display: block;
  flex-direction: column; }
  .footer__links-container-group :first-child {
    margin-bottom: 15px; }
  .footer__links-container-group span {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 4px;
    color: black; }
  .footer__links-container-group a {
    display: block;
    position: relative;
    bottom: 10px;
    color: #1d1d1d !important;
    font-size: 14px !important;
    margin: 3px 0;
    text-decoration: none;
    line-height: 1.25 !important; }

.footer__logo {
  padding: 40px 50px 20px 0; }
  @media only screen and (max-width: 600px) {
    .footer__logo {
      padding: 0 50px 20px 0px !important; } }

.footer__contact-info {
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: #1d1d1d;
  padding: 20px 0; }
  @media only screen and (max-width: 575px) {
    .footer__contact-info {
      display: block;
      padding: 0; } }
  @media only screen and (max-width: 600px) {
    .footer__contact-info {
      margin: 0 auto; } }

.footer__label {
  font-family: ars-maquette-web,sans-serif;
  font-size: 14px;
  margin: auto; }

.footer__text {
  font-family: ars-maquette-web, sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none; }
  @media only screen and (max-width: 625px) {
    .footer__text {
      font-size: 16px; } }

.contact-details {
  display: flex;
  flex-direction: column;
  flex: auto !important;
  min-width: 50%; }
  @media only screen and (max-width: 900px) {
    .contact-details {
      display: block;
      width: 100%;
      flex-direction: column; } }

.contact {
  margin: 10px 5px; }
  .contact :first-child {
    margin-top: 0; }

.footer__bottom-info {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0 70px; }
  @media only screen and (max-width: 600px) {
    .footer__bottom-info {
      padding: 0 20px; } }
  @media only screen and (max-width: 800px) {
    .footer__bottom-info {
      display: block;
      flex-direction: column; } }
  @media only screen and (max-width: 1024px) {
    .footer__bottom-info {
      padding: 0 50px; } }

.footer__bottom-info-menu {
  flex: 0 0 76%;
  margin-top: 20px;
  min-width: 76%; }
  @media only screen and (max-width: 600px) {
    .footer__bottom-info-menu {
      margin-top: 0; } }
  @media only screen and (max-width: 900px) {
    .footer__bottom-info-menu {
      padding: 0 20px;
      width: calc(100% - 40px); } }
  @media only screen and (max-width: 920px) {
    .footer__bottom-info-menu {
      flex: 0 0 100%;
      min-width: 100%; } }

.footer__menu {
  display: flex;
  flex-wrap: wrap; }

.footer__menu-item {
  color: #000000;
  display: inline-block;
  font-size: 14px;
  font-weight: lighter;
  padding-right: 5px;
  padding-top: 5px; }

.copyright {
  margin-top: 10px; }

.footer__icon-block {
  display: flex;
  flex: 0 0 20%;
  justify-content: space-around;
  margin-left: auto;
  min-width: 20%;
  padding-bottom: 20px; }
  @media only screen and (max-width: 575px) {
    .footer__icon-block {
      flex: 0 0 100%;
      margin: 20px 0;
      min-width: 100%;
      width: calc(100% - 40px); } }
  @media only screen and (max-width: 900px) {
    .footer__icon-block {
      margin: 20px auto;
      width: 50%; } }
  @media only screen and (max-width: 920px) {
    .footer__icon-block {
      flex: 0 0 50%;
      margin: 20px auto;
      min-width: 50%; } }
