.btn--primary{
  background: $red;
  color: $white !important;
  font-weight: 400;
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  text-transform: lowercase;
  font-family: $t-font-stack;
  font-size: 1rem;
  transition: all ease-in 300ms;
  border: 0;
  -webkit-appearance: button;
  cursor: pointer;
}
.btn-transparent {
  background-color: transparent;
  color: $white;
  border: 1px solid $white;
  flex: 0 0 180px;
  height: 48px;
  box-sizing: border-box;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .9em;
  border-radius: 3px;
  cursor: pointer;
}
.o-button_blue-outline {
  background-color: $white;
  border-radius: 3px;
  color: $blue--persian;
  font-size: 14px;
  height: 45px;
  max-width: 225px;
  width: 140px;
  border: 1px solid $blue--persian;
}

.hero #singlePriceTwoButtons {
  margin-bottom: 10px;
  font-weight: bold !important;
  width: 225px !important;
}
.hero #singlePriceTwoButtons .hero-button-primary {
  color: $black !important;
  background-color: $orange !important;
}
.hero-button-secondary{
  color: $white !important;
}
.hero-button-wrapper {
  font-size: 14px;
  margin-right:10px;
}
.internet-hero {
  min-width:200px;
}
.o-button_blue {
  background-color: $blue--persian;
  color: $white;
  font-weight: 600;
  font-size: 15px;
  border-radius: 3px;
  height:45px;
  max-width: 225px;
}
.o-button_white {
  background-color: transparent;
  border-radius: 3px;
  color: $white;
  font-size: 14px;
  height: 45px;
  max-width: 225px;
  width: 140px;
  border: 1px solid $white;
}
.c-wifi-cta button {
  width: 239px;
}
.whwf-slice-pricing-buttons {}
.c-hero__button {
  flex: 0 0 180px;
  height: 48px;
  box-sizing: border-box;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
  width: 225px !important;
  max-width: 225px;
  margin-right: 10px;
}
.c-hero__button :first-of-type {
  margin-right: 10px;
}
.c-hero__button--gold {
  font-size: 14px;
  font-weight: 600;
  background-color: $orange;
  color: $black;
}
.c-hero__button--blue {
  font-size: 14px;
  font-weight: 600;
  background-color: $blue--persian;
  color: $white;
}