$p-font-stack: ars-maquette-web, sans-serif;
$s-font-stack: Conduit Light, sans-serif;
$t-font-stack: nunito sans,sans-serif;
$black: #000000;
$grey: #58595b;
$lgrey: #e5e5ea;
$white: #ffffff;
$red: #c62328;
$guava: #f26529;
$orange: #ffc40c;
$bumblebee: #fff215;
$deepSkyBlue: #10ace3;
$persianBlue: #0065e3;
